{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Avodha Shopping</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'hm/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'hm/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'hm/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'hm/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'hm/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/hm/css/font-awesome.css">
      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Righteous&display=swap" rel="stylesheet">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'hm/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'hm/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section" style="background-image:url({% static 'hm/images/bg.jpg' %}">
         <div class="header_main">
            <div class="container-fluid">
               <div class="logo"><a href="/"><h1  class="banner_taital" style="color:white"><b>Avodha Shopping</b></h1></a></div>
               <div class="menu_main">
                  <ul>
                     <li class="active"><a href="/">Home</a></li>
                     <li><a href="about.html">Register</a></li>
                     <li><a href="services.html">Login</a></li>
                      <li><a href="about.html">Logout</a></li>
                      <li><a href="{% url 'CartDetails' %}"><i class='fas fa-shopping-cart' style='font-size:15px;color:white'></i>&nbsp;{{itc}}</a></li>
                     <li>
                         <form action="{% url 'search' %}" method="get" class="form-inline">
                            {% csrf_token %}
                           <input class="form-control mr-sm-2" type="search" placeholder="Enter item Name To Search" name="q" aria-label="Search">
                           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                         </form>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      {% block content %}
      {% endblock %}
   </body>
</html>
